# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582
__pypackages__/

# Environments
.venv

# mypy
.mypy_cache/

# ruff
.ruff_cache/

# OS
.DS_Store

# Other
morse_utils/
test.py
